@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 1rem;
  font-size: 60px;
  width: 90vw;
  color: black;
}

.central-image--tip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  height: 200px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  position: relative;
  animation: slide-up 4s 3s;
  animation-fill-mode: forwards;

  @include keyframes(slide-away) {
    0% {
      top: 0px;
      left: 11px;
      opacity: 1;
    }
    100% {
      top: -50px;
      left: 250px;
      opacity: 0;
    }
  }
}
.answer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 70px;
}
.tip {
  font-size: 70px;
  margin: 0;
  padding: 0;
}
