@mixin tablet{
    @media screen and (min-width: 710px){
    @content;
    } 
}
@mixin tabletExt{
    @media screen and (min-width: 1050px){
    @content;    
    }
}
@mixin desktop{
    @media screen and (min-width: 1080px){
    @content;
    }
}
@mixin desktopLong{
    @media screen and (min-width: 1200px){
      @content;  
    }
}
@mixin desktopWide{
    @media screen and (min-width: 1550px){
     @content;   
    }
}

.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 0.65rem;
    margin-left: 3rem;
    margin-right: 0.65rem;
    padding-top: 1rem;
    width: 90vw;
}
.footer-buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    width:49vw;
    margin: 0;
    border: 2px solid;
    border-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &--link{
        text-decoration: none;
        color: black;
        font-size: 30px;
    }
}
