@mixin tablet{
    @media screen and (min-width: 710px){
    @content;
    } 
}
@mixin tabletExt{
    @media screen and (min-width: 1050px){
    @content;    
    }
}
@mixin desktop{
    @media screen and (min-width: 1080px){
    @content;
    }
}
@mixin desktopLong{
    @media screen and (min-width: 1200px){
      @content;  
    }
}
@mixin desktopWide{
    @media screen and (min-width: 1550px){
     @content;   
    }
}
$color-light-grass-green: #2b4d39;
$color-dark-green: #16251c;

.header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.65rem;
    width: 100vw;
    &__links,
    --left
    --right{
        align-self: center;
        margin-top: 0.65rem;
    }
    @include tablet{
        flex-direction: row;
        justify-content: flex-start;
        max-width: 90%;
        margin-left: 1rem;
    }
}
.logo{
    display: flex;
    justify-content: center;
    width: 30vw;
    padding-right: 0;
    margin-right:0;

    @include tablet{
        width: 31vw;
    }
    @include desktopLong{
        width: 32vw
    }
}

.text{
    font-size: 15px;
    @include tabletExt(){
        font-size: 18px;
    }
}
.slice{
    width: 12vw;
    background-color: $color-dark-green;

    @include tablet{
        width: 13vw;
    }
    @include tabletExt{
        width: 14vw;
    }
}
.counter{
    color: black;
    font-size: 35px;
    margin-left: 0;
    padding-left: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

