@mixin desktopLong{
  @media screen and (min-width: 1200px){
    @content;  
  }
}
@mixin desktopWide{
  @media screen and (min-width: 1550px){
   @content;   
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}

.main-page_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 1rem;
  font-size: 60px;
  width: 90vw;
}
.round-background {
  border-radius: 200%;
  padding:2rem;
  background-color: lightseagreen;
  background: linear-gradient(-45deg, #21a080,#36947e, white, white );
	background-size: 400% 400%;
	animation: gradient 5s ease;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.central-slice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  margin-right: 0;
  width: 200px;
  height: 200px;
  position: relative;
  animation: slide-up 9s;
  animation-fill-mode:forwards;

  @include keyframes(slide-up) {
    0% {
      top: 50px;
      left: 60px;
      width: 300px;
      height: 300px;
    }
    100% {
      top: -140px;
      left: 399px;
      width: 0px;
      height: 0px;
    }
  }
}
.picture-frame {
  width: 100px;
}
.QandA {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  padding:1rem;
}
